<%= render 'partials/loggedinpage' %>
<h1>All Events</h1>
<% @events.each do |event| %>
<div class="card m-4" style="width: 18rem; float:left;">
     <div class="card-body">
      <h3><%= event.title %> </h3>
      <p><%= truncate(event.details, :length => 35) %> </p>
      <button type="button" class="btn btn-info">
         <%= link_to "More Info...", event_path(event) %>
      </button>
     </div>
</div>
<% end %>